@import "tailwindcss";

@theme {
  --color-text-light:#09090b;
  --color-text-dark:#fafafa ;
  --color-background-light:#fafafa ;
  --color-background-dark:#262626 ;  
}

*{
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

